<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Getting Started with Call Me Maybe</h1>
    <p>This is a Slack application using Node.js and Express 4 deployed to Heroku. Its purpose is to generate call links for users based on meetings scheduled on his or her Google calendar.</p>
    <a href="https://slack.com/oauth/authorize?scope=channels:history,commands,bot,usergroups:read,users:read,users:write,chat:write:bot&client_id=24999931810.25003305249&state=rentpath&redirect_uri=https://call-me-maybe-rp.herokuapp.com/auth"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
  </div>
</div>

</body>
</html>
